table{
    border-collapse: collapse;
    border-spacing: 0px; cellpadding="0";cellspacing="0";
    
}
.red{
    background-color: red;
    width: 100px;
    height: 150px;
    
    
}
.green{
    
    background-color: yellowgreen;
    width: 100px;
    height: 150px;
    
    
}
.blue{
    
    background-color: blue;
    width: 200px;
    text-align: center;
    height: 150px;
    
    
}

.blue a{
    line-height:150px;
    
}